<section class="container">
    <div class="signup">
        <h1>Sign Up</h1>
    </div>
    <%=form_with model: @user do |f| %>
        <div class="form-input">
            <%= f.label :username %>
            <%= f.text_field :username %>
        </div>

        <div class="form-input">
            <%= f.label :email %>
            <%= f.email_field :email, placeholder: 'example@gmail.com'%>
        </div>

        <div class="form-input">
            <%= f.label :password %>
            <%= f.password_field :password %>
        </div>
        <%= f.submit "submit", class: "btn"%>

    <% end %>
</section>
